<div class="card">
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h4>Base Information</h4>
      <input type="text" class="form-control" formControlName="name" placeholder="Name">
      <input type="text" class="form-control" formControlName="surname" placeholder="Surname">
      <div formGroupName="address">
        <h4>Address</h4>
        <input type="text" class="form-control" formControlName="city" placeholder="City">
        <input type="text" class="form-control" formControlName="street" placeholder="Street">
        <input type="text" class="form-control" formControlName="zipCode" placeholder="Zip Code">
      </div>
      <div formGroupName="personalData">
        <h4>Personal Information</h4>
        <input type="number" class="form-control" formControlName="age" placeholder="Age">
        <input type="date" class="form-control" formControlName="birthday" placeholder="Birthday">
        <input type="text" class="form-control" formControlName="img" placeholder="Image URL">
      </div>
      <button type="submit" class="btn btn-danger" [disabled]="!form.valid">Save</button>
    </form>
  </div>
</div>
