<div class="card" style="width: 18rem; float: left;margin-left: 10px; margin-top: 50px"
     *ngFor="let actor of actor | async">
  <img class="card-img-top" [src]="actor.personalData.imgUrl" alt="Image">
  <div class="card-body">
    <h5 class="card-title">{{actor.name + ' ' + actor.surname}}
      <button mat-flat-button class="float-right" style="background: transparent;">
        <mat-icon svgIcon="more" aria-hidden="false" aria-label="More" matTooltip="Edit" (click)="onClick(actor)"
                  style="color: black" class="float-right">
        </mat-icon>
      </button>
    </h5>
    <p class="card-text">{{'Age: ' + actor.personalData.age}}</p>
    <p class="card-text">{{'Born Year: ' + actor.personalData.bornYear | date}}</p>
  </div>
</div>
